*{
    margin: 0;
    padding: 0;
}

img {
    border-radius: 8px;
  }

:root {
    --primary-color: #659DBD;
    --secondary-color: #FBEEC1;
    --tertiary-color: #BC986A;
    
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.ask_for_help, .btn_build_map  {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 4px;
}

.search_box {
    text-align: end;
    display: inline-block;
    /* position: relative; */
    /* left: 30%; */
    /* transform: translateX(-100%); */
}

.search_box, .ask_for_help, .btn_build_map{
    margin-left: auto;
    margin-right: auto;
}


.search_form *{
    width: 180px;
    padding: 3px;
    margin: 10px 2px;
    font-size:17px;
}



.ask_for_help:hover, .btn_build_map:hover{
    transform: scale(1.05);
    border-color: var(--tertiary-color);
    color: white;
    background-color: var(--tertiary-color);
}

.ask_for_help:hover, .btn_build_map:hover, .submit_btn:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.register_form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
}

.div3{
    display: block;
}

.register_form input[type="text"],.register_form input[type="password"],.register_form input[type="submit"]{
    width: 100%;
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    line-height: 1.1;
    height: 28px;
    padding: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    
}

.register_form input[type="checkbox"]{
    transform: scale(1.2);
    border:none;
    border-radius: 10%;
    background-color: #bbbbbb;
}

.register_form i{  
    margin-top: 10px;
    float: right;
}

.form a {
    margin: 4px 5px;
    font: normal 87% 'trebuchet ms', sans-serif;
    color: var(--tertiary-color);
    text-decoration: none;
}

.form a:hover{
    font-weight: bold;
    color: var(--primary-color);
}

.menu_block, .bottom_block{
    text-align: center;
    background-color: var(--primary-color);
}

ul.menu{
    display: inline-block;
}

.menu li{
    float: left;
    list-style: none;
    padding: 2px 20px 0 20px;
}

.menu li a{
    color: var(--secondary-color);
    font: bold 120% 'trebuchet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
}

.menu li a:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white !important;
}


.logo_image{
    width: 170%;
}

.header_block{
    flex-shrink: 0;
    
}

.logo, .form{
    background: transparent;
    color: var(--primary-color);
    padding: 5px 1px 5px 10px;
}

.signin *{
    margin-left: auto;
    margin-right: auto;
    display:block; 
    color: var(--primary-color);    
}

.logo{
    float: left; 
}


.submit_btn, .ask_for_help, .btn_build_map, .dropdown .dropbtn{
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.submit_btn  {
    margin-top: 5px;
    padding: 4px 25px 4px 25px;
    font: normal 100% 'trebuchet ms', sans-serif;
    background-color: var(--primary-color);
    border: none;
    color: white;
    display: inline-block;
}

.form{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

.div2, .div3{
    text-align: center;
    min-width: 300px;
}

.div2{
    padding: 18px;
}

.bottom_block{
    color: var(--secondary-color);
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px  0 20px 0;
}

.dropdown {
    color: var(--primary-color);
    margin-right: 20px;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--primary-color);
    padding: 5px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 3px;
  }
  
   .dropdown:hover .dropbtn {
    background-color: var(--primary-color);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .mobile-mode{
   
}

::placeholder { 
    color: var(--tertiary-color);
    opacity: 1; 
  }



@media (max-width: 770px) {
    .logo::after{
        
        content: "\a";
        white-space: pre;
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .menu li{
        padding: 0;
    }

    .menu li a{
        color: var(--secondary-color);
        font: bold 120% 'trebuchet ms', sans-serif;
        height: 30px;
        padding: 3px 9px;
        text-decoration: none;
    } 

    .header_block{
        justify-content: center;
        text-align: center;
        font: normal 110% 'trebuchet ms', sans-serif;

    }


    .form{
        float: left;
    }



    .signin *{
        display:inline; 
    }
   

    h1 {
      font-size: 35px;
    }

    .register_form{
       
    }

    .logo_image{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px; 
    }


    .content{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .div2, .div3{
        text-align: match-parent;
        min-width: 100px;
    }
    
    
  }