* {
  
  }
  
  :root {
  --primary-color:#659DBD;
  --secondary-color:#FBEEC1;
  --tertiary-color:#BC986A;
  }
  
  :root.dark-theme {
  --primary-color:#30475E;
  --secondary-color:#CCC;
  --tertiary-color:#cb0554;
  }

  .card-img-top {
    transition: all 1s ease-in-out;
  }

  .filter-plane{
    filter: invert(89%) sepia(6%) saturate(4308%) hue-rotate(308deg) brightness(134%) contrast(97%);
  }

  .dark-theme .filter-plane{
    filter: invert(81%) sepia(11%) saturate(0%) hue-rotate(148deg) brightness(101%) contrast(89%);
  }
  
  .card-img-top.bigger {
    position: relative;
    z-index: 1;
    transform: scale(1.2);
    border: var(--primary-color);
    border-radius: 5px;
  }

  a{
    text-decoration: none;
    color: var(--primary-color);
  }

  #gallery {
    line-height:0;
    column-count:5;
    column-gap:5px;
 }

 @media (max-width: 800px) {
  #gallery {

   column-count:         2;
  }
}


 #gallery img {
  transition: filter 2s;
  filter: grayscale(100%);
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}

#gallery img:hover {
  filter:none;
}

  
  @font-face {
  font-family:"Custom Font";
  src:url(/static/fonts/hussarbdsuprcon.otf);
  
  }
  
  #collapse {
  margin-left:auto;
  margin-right:auto;
  opacity:0;
  text-align:center;
  transition:all .5s;
  width:100%;
  }
  
  #collapse.show {
  display:inline-block;
  height:fit-content;
  opacity:1;
  overflow:visible
  }
  
  #map_block {
  border:1px solid #ccc;
  border-radius:15px;
  box-shadow:0 0 5px #ccc;
  display:table-footer-group
  }

  .list-group{
    display: block;
  }
  
  .add_review {
  margin-bottom: 5em;
  }
  
  .add_review span {
  display:block;
  font:100% 'trebuchet ms',sans-serif;
  margin:10px;
  margin-left:auto;
  margin-right:auto
  }
  
  .ask_for_help,.btn_build_map {
  background-color: var(--secondary-color);
  border:2px solid var(--primary-color);
  color:var(--primary-color);
  display:inline-block;
  font-size:18px;
  margin:4px;
  padding:3px 18px;
  text-align:center;
  }
  
  .ask_for_help:hover,.btn_build_map:hover  {
  background-color:var(--primary-color);
  border-color:var(--secondary-color);
  color:var(--secondary-color) !important;
  transform:scale(1.05)
  }

.logo svg:hover{
  transform:scale(1.2)
}

  
  .ask_for_help:hover,.btn_build_map:hover,.blue_btn:hover {
  box-shadow:rgba(0,0,0,0.15) 0 2px 8px
  }
  
  /* .author_text {
  float:right;
  margin-right:15px
  } */
  
  .big_text {
  color:var(--primary-color);
  font-size:16px;
  height:120px;
  width:50%
  }
  
  .blue_btn {
  background-color:var(--primary-color);
  border:none;
  color:#fff !important;
  display:inline-block;
  font:100% 'trebuchet ms',sans-serif;
  margin-top:5px;
  padding:4px 25px
  }
  
  .blue_btn,.ask_for_help,.btn_build_map,.dropdown .dropbtn,.menu li a:hover {
  border-radius:12px;
  
  transition:all .5s ease-out
  }
  
  .bottom_block {
  bottom:0;
  color:var(--secondary-color);
  flex-shrink:0;
  margin-top:auto;
  padding:20px 0;
  position:fixed;
  width:100%
  }
  
  .content {
  margin:0 5%
  }
  
  .div3,.terms,.dropdown:hover .dropdown-content,.review-list footer span {
  display:block
  }
  
  .dropdown {
  color:var(--primary-color);
  margin-right:20px;
  overflow:hidden
  }
  
  .dropdown .dropbtn {
  background-color:inherit;
  border:none;
  color:var(--primary-color);
  font-family:inherit;
  font-size:16px;
  margin:3px;
  outline:none;
  padding:5px 10px
  }
  
  .dropdown-content {
  background-color:#f9f9f9;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
  display:none;
  min-width:160px;
  position:absolute;
  z-index:1
  }
  
  .dropdown-content a {
  color:#000;
  display:block;
  float:none;
  padding:12px 16px;
  text-align:left;
  
  }
  
  .dropdown-content a:hover {
  background-color:#ddd
  }
  
  .dropdown:hover .dropbtn {
  background-color:var(--primary-color)
  }
  
  .error_message {
  color:red;
  font-size:18px
  }
  
  .filter {
  display:flex
  }

  .filter2{
    margin: 1em 0;
  }
  
  .filter * {
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:0 5px
  }

  .header_block .form{
    float:right;
    margin-right: 20px;
    line-height: 4px;
  }
  
  .form {
  font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
  }
  
  .form a {
  color:var(--tertiary-color);
  font:87% 'trebuchet ms',sans-serif;
  margin:4px 2px;
  
  }

  .photo-container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .photo-container .btn {
    position: absolute;
    top: 99%;
    left: 13%; 
    transform: translate(-50%, -150%);
    padding: 1px 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
  }

  .photo-container img {
    width: 100%;
    height: auto;
  }

  .delete-button {
    bottom: -20px;
    
  }
  
  .form a:hover {
  color:var(--primary-color);
  }
  
  .form_date {
  display:block;
  font-size:120%;
  margin:10px 20px
  }
  
  .header_block {
  flex-shrink:0;
  display:table;
  }
  
  .logo,.form {
  color:var(--primary-color);
  padding:0;
  }

  .logo span{
    margin-top: auto;
    vertical-align:middle;
    margin-bottom: auto;
  }

  .logo-text{
    font-size: 6em;
  }


  
  .logo,.review-list footer h3 {
  float:left
  }
  
  .logo_image {
    width: 8.5vw;
  }

  svg *{
    fill: var(--primary-color);
  }

  .menu li {
  float:left;
  list-style:none;
  padding: 0.05vmax 0.5vmax;
  margin: 0 1.1vmax;
  }


  .menu li a {
  color:var(--secondary-color);
  display:block;
  font:bold 120% 'trebuchet ms',sans-serif;
  height:20px;
  padding: 0.8vmax 1.4vmax;
  }
  
  .menu li a:hover {
  box-shadow:rgba(0,0,0,0.16) 0 3px 6px,rgba(0,0,0,0.23) 0 3px 6px;
  color:#fff!important
  }
  
  .menu1_block,.bottom_block {
  background-color:var(--primary-color);
  margin: 0;
  }
  
  .menu2_block {
  padding:6px
  }

  ul.menu{
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .menu2_block,.div3,.trips_table {
  text-align:center
  }
  
  .new_travel_div * {
  font-size:17px;
  padding:3px;
  width: 200px;;
  }

table{
    margin-left: -100%;
  }
  
  .new_travel_div tr {
  align-items:center
  }
  
  .q_form * {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  }

  .question-block{
    border:2px solid var(--primary-color);
    border-radius:12px;
    padding: 5px;
    background-color: var(--secondary-color);
    margin-top: 5px;
    text-align: center;
  }

  .question-block div{
    margin: 0 auto;
  }

  .question-block span{
    margin: 0 15%;
    font: 87% 'trebuchet ms',sans-serif;
  }

  .question-block p{
    color: var(--tertiary-color);
  }

.little{
  display: inline;
  text-align: center;
}



  .register_form {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  text-align:left
  }
  
  .register_form i {
  float:right;
  margin-top:10px
  }
  
  .register_form input[type="text"],.register_form input[type="password"],.register_form input[type="submit"] {
  border:1px solid var(--primary-color);
  border-radius:12px;
  display:block;
  font-size:18px;
  height:28px;
  line-height:1.1;
  margin-bottom:4px;
  padding:4px;
  width:100%
  }
  
  .review-list {
  background-color:#fff;
  border:2px solid var(--primary-color);
  border-radius:8px;
  list-style:none;
  margin:5px 0;
  }
  
  .review-list #rev {
  display:grid;
  grid-template:[header-left] "head head" [header-right] [main-left] "nav main" [main-right] [footer-left] "nav foot" [footer-right] / 250px 1fr
  }
  
  .review-list footer {
  grid-area:foot;
  font-size: smaller;
  margin-top: 20px;
  display:inline-flex;
  
  }

  .review-list footer *{
    margin: 0 15px;
  }
  
  .review-list header {
  font:bold 120% 'trebuchet ms',sans-serif;
  grid-area:head;
  margin:0 5px;
  padding:0;
  height: 2em;
  }
  
  .review-list main {
  grid-area:main;
  padding:20px;
  text-align:justify
  }
  
  .review-list nav {
  grid-area:nav
  }
  
  .search_box {
  display:inline-block;
  text-align:end
  }
  
  .search_box,.ask_for_help,.btn_build_map,.travel-form {
  margin-left:auto;
  margin-right:auto
  }
  
  .search_form * {
  font-size:17px;
  margin:10px 2px;
  padding:3px;
  width:180px
  }
  
  .signin * {
  color:var(--primary-color);
  display:block;
  margin-left:auto;
  margin-right:auto
  }
  
  .trips_table button {
  font-size:15px
  }
  
  .trips_table table {
  display:inline-block;
  font-size:x-large;
  margin:20px
  }
  
  .trips_table table * {
  padding:8px
  }
  
  .white_btn {
  background-color:#fff;
  border:none;
  color:var(--primary-color);
  display:inline-block;
  font:100% 'trebuchet ms',sans-serif;
  margin-top:5px;
  padding:4px 25px
  }
  
  ::placeholder {
  color:var(--tertiary-color);
  opacity:1
  }
  
  body {
  font-size: 1.1em;
  margin:0;
  padding:0;
  background-color:var(--secondary-color);
  color:var(--primary-color);
  display:flex;
  flex-direction:column;
  font-family:"Custom Font",Arial,Helvetica,sans-serif;
  min-height:100vh;
  text-align:center;
  word-spacing:7px;
  text-decoration:none;
  }
  
  div.center {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    width:100%;
  }

  .logo svg:hover{
    fill: #659DBD;
  }
  
  img.image {
  border:2px solid var(--primary-color);
  border-radius:8px;
  height:auto;
  width:auto
  }
  
  img.max_width {
  max-height:250px;
  max-width:250px
  }
  
  input[type="checkbox"] {
  background-color:#bbb;
  border:none;
  border-radius:10%;
  transform:scale(1.2)
  }
  
  ul.menu,.q_form input[type="submit"],#travel-form {
  display:inline-block
  }
  
  @media (max-width: 770px) {
  .big_text {
  width:85%
  }
  
  .content {
  margin-left:30px;
  margin-right:30px
  }
  
.header_block .form{
  float:left;
  margin-top: 0;
  margin-bottom: 0;
}


  span.form *{
    display: inline;
    background-color:red;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
  
  .header_block {
  font:110% 'trebuchet ms',sans-serif;
  justify-content:center;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  }
  
  .logo {
  display:block;
  margin-left:auto;
  margin-right:auto
  }
  
  .logo::after {
  content:"\a";
  white-space:pre
  }
  
  .logo_image {
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
  width:100%
  }
  
  .menu li {
  padding:0
  }
  
  .menu li a {
  color:var(--secondary-color);
  font:bold 120% 'trebuchet ms',sans-serif;
  height:30px;
  padding:3px 9px;
  
  }
  
  .menu2_block,.div3 {
  text-align:match-parent
  }
  
  .signin * {
  display:inline
  }
  
  h1 {
  font-size:35px
  }
  }

  .animated-object {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    transform: rotate(90deg);
    animation: move-right 8s ease-in-out forwards;
    animation-iteration-count: infinite;
  }

  



  @keyframes move-right {
    0% {
      left: 0;
      opacity: 1;
    }
    40% {
      left: 45%;
      opacity: 0.1;
    }

    50% {
      left: 50%;
      opacity: 0;
    }

    60% {
      left: 60%;
      opacity: 0.1;
    }
    100% {
      left: 95%;
      opacity: 1;
    }
  }