 :root {
  --primary-color:#659DBD;
  --secondary-color:#FBEEC1;
  --tertiary-color:#BC986A;
  }
  
  :root.dark-theme {
  --primary-color:#30475E;
  --secondary-color:#CCC;
  --tertiary-color:#cb0554;
  }

  .card-img-top {
    transition: all 1s ease-in-out;
  }

  .filter-plane{
    filter: invert(89%) sepia(6%) saturate(4308%) hue-rotate(308deg) brightness(134%) contrast(97%);
  }

  .dark-theme .filter-plane{
    filter: invert(81%) sepia(11%) saturate(0%) hue-rotate(148deg) brightness(101%) contrast(89%);
  }
  
  .card-img-top.bigger {
    position: relative;
    z-index: 1;
    transform: scale(1.5);
    border:2px solid var(--primary-color);
    border-radius: 5px;
  }

  a{
    text-decoration: none;
    color: var(--primary-color);
  }

  #gallery {
    line-height:0;
    column-count:5;
    column-gap:5px;
 }

 @media (max-width: 800px) {
  #gallery {

   column-count:         2;
  }
}


 #gallery img {
  transition: filter 2s;
  filter: grayscale(100%);
  width: 100% ;
  height: auto ;
  margin-bottom:5px; /* to match column gap */
}

#gallery img:hover {
  filter:none;
}

  
  @font-face {
  font-family:"Custom Font";
  src:url(/static/fonts/hussarbdsuprcon.otf);
  
  }
  
  .hide{
  margin-left:auto;
  margin-right:auto;
  opacity:0;
  text-align:center;
  transition:all .5s;
  width:100%;
  }

  .text3d{
      text-shadow: 1px 1px 1px #919191,
          1px 2px 1px #919191,
          1px 3px 1px #919191,
          1px 4px 1px #919191,
          1px 5px 1px #919191,
          
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);
  }
  

  .show {
  display:inline-block;
  height:fit-content;
  opacity:1;
  overflow:visible
  }
  
  #map_block {
  border:1px solid #ccc;
  border-radius:15px;
  box-shadow:0 0 5px #ccc;
  display:table-footer-group
  }

  .list-group{
    display: block;
  }
  
  .add_review {
  margin-bottom: 5em;
  }
  
  .add_review span {
  display:block;
  font:100% 'trebuchet ms',sans-serif;
  margin:10px;
  margin-left:auto;
  margin-right:auto
  }
  
  .ask_for_help,.btn_build_map {
  background-color: var(--secondary-color);
  border:2px solid var(--primary-color);
  color:var(--primary-color);
  display:inline-block;
  font-size:18px;
  margin:4px;
  padding:3px 18px;
  text-align:center;
  }
  
  .ask_for_help:hover,.btn_build_map:hover  {
  background-color:var(--primary-color);
  border-color:var(--secondary-color);
  color:var(--secondary-color) !important;
  transform:scale(1.05)
  }
  
  .ask_for_help:hover,.btn_build_map:hover,.blue_btn:hover {
  box-shadow:rgba(0,0,0,0.15) 0 2px 8px
  }
  
  .big_text {
  color:var(--primary-color);
  font-size:16px;
  height:120px;
  width:50%
  }
  
  .blue_btn {
  background-color:var(--primary-color);
  border:none;
  color:#fff !important;
  display:inline-block;
  font:100% 'trebuchet ms',sans-serif;
  margin-top:5px;
  padding:4px 25px
  }
  
  .blue_btn,.ask_for_help,.btn_build_map,.dropdown .dropbtn,.menu li a:hover {
  border-radius:12px;
  transition:all .5s ease-out
  }
  
  .bottom_block {
  bottom:0;
  color:var(--secondary-color);
  flex-shrink:0;
  margin-top:auto;
  padding:20px 0;
  position:fixed;
  width:100%
  }
  
  .content {
  margin:0 15%;
  }

  .header{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: var(--primary-color);
  }
  

#center_block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

  .header a{
    scale: 0.3;
    width: 40px;
  }

  .header a img{
    margin: 0;
    padding: 0;
  }

  
  .div3,.terms,.dropdown:hover .dropdown-content,.review-list footer span {
  display:block
  }




  
  .dropdown {
  color:var(--primary-color);
  margin-right:20px;
  overflow:hidden
  }
  
  .dropdown .dropbtn {
  background-color:inherit;
  border:none;
  color:var(--primary-color);
  font-family:inherit;
  font-size:16px;
  margin:3px;
  outline:none;
  padding:5px 10px
  }
  
  .dropdown-content {
  background-color:#f9f9f9;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
  display:none;
  min-width:160px;
  position:absolute;
  z-index:1
  }
  
  .dropdown-content a {
  color:#000;
  display:block;
  float:none;
  padding:12px 16px;
  text-align:left;
  
  }
  
  .dropdown-content a:hover {
  background-color:#ddd
  }
  
  .dropdown:hover .dropbtn {
  background-color:var(--primary-color)
  }
  
  .error_message {
  color:red;
  font-size:18px
  }
  
  .filter {
  display:flex
  }

  .filter2{
    margin: 1em 0;
  }
  
  .filter * {
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:0 5px
  }

  header .form{
    padding: 0.2rem;
    font-size: smaller;
    float:right;
    margin-right: 20px;
    line-height: 15px;
  }

   .form input[type=text], .form input[type=password] {
  padding: 3px;
  box-sizing: border-box;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.5s;
  outline: none;
  }

  .form input[type=text]:hover,.form input[type=password]:hover {
    border: 3px solid var(--tertiary-color);
  }

  .form input[type=submit]{
    margin-bottom: 0.5rem;
  }



  header{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }

  .form {
  font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
  }
  
  .form a {
  color:var(--tertiary-color);
  font:87% 'trebuchet ms',sans-serif;
  font-weight: bold;
  margin:4px 2px;
  word-spacing: normal;
  
  }

  .photo-container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .photo-container .btn {
    position: absolute;
    top: 99%;
    left: 13%; 
    transform: translate(-50%, -150%);
    padding: 1px 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
  }

  .photo-container img {
    width: 100%;
    height: auto;
  }

  .delete-button {
    bottom: -20px;
    
  }
  
  .form a:hover {
  color:var(--primary-color);
  }
  
  .form_date {
  display:block;
  font-size:120%;
  margin:10px 20px
  }
  
  .logo,.form {
  color:var(--primary-color);
  padding:0;
  }

  .logo span{
    margin-top: auto;
    vertical-align:middle;
    margin-bottom: auto;
  }

  .logo-text{
    font-size: 4.5em;
  }

  .logo,.review-list footer h3 {
  float:left
  }
  
  .logo_image {
    width: 8.5vw;
  }

  svg *{
    fill: var(--primary-color);
  }

  .menu li {
  float:left;
  list-style:none;
  font-size: 30px;
  }

  #little_menu{
    display: flex;
    justify-content: space-between;
  }


  .menu li a {
  color:var(--secondary-color);
  font:bold 'trebuchet ms',sans-serif;
  /*  dynamically resize text  */
  font-size: 20px;
  font-size: 1.6vw;
  padding: 0.8vmax 1.3vmax;
  }
  
  .menu li a:hover {
  color:var(--tertiary-color);
  }
  
  .bottom_block {
  background-color:var(--primary-color);
  margin: 0;
  }
  
  .menu2_block {
  padding:6px
  }

  ul.menu{
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .menu2_block,.div3,.trips_table {
  text-align:center
  }
  
  .new_travel_div * {
  font-size:17px;
  padding:3px;
  width: 200px;
  }

table{
    margin-left: -100%;
  }
  
  .new_travel_div tr {
  align-items:center
  }
  
  .q_form * {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  }

  .question-block{
    border:2px solid var(--primary-color);
    border-radius:12px;
    padding: 5px;
    background-color: var(--secondary-color);
    margin-top: 5px;
    text-align: center;
  }

  .question-block div{
    margin: 0 auto;
  }

  .question-block span{
    margin: 0 15%;
    font: 87% 'trebuchet ms',sans-serif;
  }

  .question-block p{
    color: var(--tertiary-color);
  }

.little{
  display: inline;
  text-align: center;
}



  .register_form {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  text-align:left
  }
  
  .register_form i {
  float:right;
  margin-top:10px
  }
  
  .register_form input[type="text"],.register_form input[type="password"],.register_form input[type="submit"] {
  border:1px solid var(--primary-color);
  border-radius:12px;
  display:block;
  font-size:18px;
  height:28px;
  line-height:1.1;
  margin-bottom:4px;
  padding:4px;
  width:100%
  }
  
  .review-list {
  background-color:#fff;
  border:2px solid var(--primary-color);
  border-radius:8px;
  list-style:none;
  margin:5px 0;
  padding: 0 10px;
  width: 100%;
  }
  
  .review-list section{
  display:grid;
  grid-template:[header-left] "head head" [header-right] [main-left] "nav main" [main-right] [footer-left] "nav foot" [footer-right] 
  }
  
  .review-list footer {
  grid-area:foot;
  font-size: smaller;
  margin-top: 20px;
  display:inline-flex;
  
  }

  .review-list footer *{
    margin: 0 15px;
  }
  
  section header {
  font:bold 120% 'trebuchet ms',sans-serif;
  grid-area:head;
  padding:0;
  height: 2em;
  }

  .reviews_filter *{
    margin: 8px 0;
  }
  
  section main {
  grid-area:main;
  margin-left: 5px;
  padding:5px;
  width: fit-content;
  text-align:justify;
  }
  
  section nav {
  grid-area:nav;
  }
  
  .search_box {
  display:inline-block;
  text-align:end
  }
  
  .search_box,.ask_for_help,.btn_build_map,.travel-form {
  margin-left:auto;
  margin-right:auto
  }
  
  .search_form * {
  font-size:17px;
  margin:10px 2px;
  padding:3px;
  width:180px
  }
  
  .signin * {
  color:var(--primary-color);
  display:block;
  margin-left:auto;
  margin-right:auto
  }
  
  .trips_table button {
  font-size:15px
  }
  
  .trips_table table {
  display:inline-block;
  font-size:x-large;
  margin:20px
  }
  
  .trips_table table * {
  padding:8px
  }
  
  .white_btn {
  background-color:#fff;
  border:none;
  color:var(--primary-color);
  display:inline-block;
  font:100% 'trebuchet ms',sans-serif;
  margin-top:5px;
  padding:4px 25px
  }
  
  ::placeholder {
  color:var(--tertiary-color);
  opacity:1
  }
  
  body {
  font-size: 1.1em;
  margin:0;
  padding:0;
  background-color:var(--secondary-color);
  color:var(--primary-color);
  font-family:"Custom Font",Arial,Helvetica,sans-serif;
  text-align:center;
  word-spacing:7px;
  text-decoration:none;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_logo{
    fill: #659DBD;
  }
  
  img.image {
  border:2px solid var(--primary-color);
  border-radius:8px;
  height:auto;
  width:auto
  }
  
  .max_width {
  max-height:250px;
  max-width:250px
  }
  
  input[type="checkbox"] {
  background-color:#bbb;
  border:none;
  border-radius:10%;
  transform:scale(1.2)
  }
  
  ul.menu,.q_form input[type="submit"],#travel-form {
  display:inline-block
  }
  
  @media (max-width: 1350px) {
  .menu li a{
   /*  */
  }
  }

  .animated-object {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    transform: rotate(90deg);
    animation: move-right 8s ease-in-out forwards;
    animation-iteration-count: infinite;
  }

  



  @keyframes move-right {
    0% {
      left: 0;
      opacity: 1;
    }
    40% {
      left: 45%;
      opacity: 0.1;
    }

    50% {
      left: 50%;
      opacity: 0;
    }

    60% {
      left: 60%;
      opacity: 0.1;
    }
    100% {
      left: 95%;
      opacity: 1;
    }
  }