<head>
<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
<link id="stylesheet" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/animation-plan.css') }}">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/edit_list.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<body>
    <div class="center">
        <img class="max_width" src="{{ url_for('static',filename='img/pngegg.png') }}" alt>
        <h1>Page not found</h1>
        
        <h4><a href="/">Back to main</a></h4> 
       
    </div>
    
</body>
