<!DOCTYPE html>
<html id="my-theme">
  <head>
    {% if title %}
     <title>{{title}}</title>
    {%else%}
    <title>Home</title>
    {%endif%}
  
  
  <link
    rel="icon"
    href="{{ url_for('static', filename='img/1489135991.svg') }}"
  />
  <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
  />
  <link
    id="stylesheet"
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='css/style.css') }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  />
  {% if request.cookies.get("theme")=='dark' %}
  <script>
    document.documentElement.classList.add("dark-theme");
  </script>
  {% else %}
  <script>
    document.documentElement.classList.remove("dark-theme");
  </script>
</head>
  {% endif %}
  {% block content%}
  <header
  class="header"
    style="background-image: url('{{ url_for('static', filename='img/cartographer.png')}}')"
  >
  
    <a href="/">
        <img class ="img_logo filter-plane" src="{{ url_for('static', filename='img/earth.svg') }}" type="image/svg+xml"></img>
    </a>
   <div id="center_block">
    <div class="logo-text text3d">
      Voyager Book 
    </div>
     <div id="little_menu">
      <ul class="menu">
        <li><a href="/photos">Voyager Photos</a></li>
        <li><a href="/question">Community Question</a></li>
        <li><a href="/reviews">Voyager Reviews</a></li>
      </ul>
    </div>



    </div> 
    {% if session['name'] %}
    <div class="form">
      <h3>Welcome back</h3>
      <h3>{{session['name']}}</h3>
      <h3>ip:{{session['ip_address']}}</h3>
      <div class="dropdown">
        <button class="dropbtn">
          <img
            height="13px"
            src="{{ url_for('static',filename='img/arrow-double-end-svgrepo-com.svg') }}"
            alt="arrow-double-end"
          />
          Settings
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/out">Log Out</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
    {% else %} {% include '_login-form.html' %} {% endif %}
  </header>
 
  <div class="menu2_block">
    <a href="/change_list"
      ><button class="btn_build_map">Edit country list</button></a
    >
    <a href="/map"
      ><button class="btn_build_map">Voyager Map</button></a
    >
    <span class="search_box"> {% include 'search_form.html' %} </span>
  </div>

  <main class="div3">
    {% for msg in get_flashed_messages() %}
    <div class="error_message">{{msg}}</div>

    {% endfor %}

    <div class="content">{% block base %} {% endblock %}</div>
  </main>

  <script src="{{ url_for('static', filename='js/site.js') }}"></script>
  {% include 'bottom_block.html' %} {% endblock %}
</html>
