<!DOCTYPE html>
{% block head%}
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
<link id="stylesheet" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
{% endblock %}
{% block content%}
<div class="header_block">
    <span class="logo">
        <a href = "/"><img class ="logo_image"  src= "{{ url_for('static',filename='img/default-monochrome-black.svg') }}">    
        </a>
        </span>
        {% if session['username'] %}
        <span class="form">
            <h3>Welcome back</h3>
            <h2>{{session['username']}}</h2>
            <h2>{{session['ip_address']}}</h2>
            
            <div class="dropdown">
                <button class="dropbtn">Dropdown 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/out">Log Out</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
        </span> 
        {% else %}
        <span class="form">
            <form method="post">
                <label for="fname">Email:</label><br>
                <input type="text" name="email" value="John"><br>
                <label for="lname">Password:</label><br>
                <input type="password" name="pw" value="123456"><br><br>
                <input type="submit" value="Login">
            </form> 
            <a href="/register">Join Voyajer Book</a>
            <a href="#">Forget password?</a>
        {% endif %}

    
    </span>
</div>
<div class="menu_block">
    <ul class="menu">
        <li><a href="/map">My Voyajer Map</a></li>
        <li><a href="/photos">My Voyajer Photos</a></li>
        <li><a href="/reviews">Voyajer Reviews</a></li> 
    </ul>

</div>
<div class="div2">
<a href="/change_list"><button class="btn_build_map">create/change my list</button></a>
<a href="/question"><button class="ask_for_help">ask other users about him travels</button></a>

</div>
<div class="div3">
    <div class="content">
        {% block base %}
        {% endblock %}
    </div>
</div>
    {% include  'bottom_block.html' %}
{% endblock %}
