<!DOCTYPE html>
{% block head%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
{% endblock %}
{% block content%}
<div class="header_block">
    <span class="logo">
        <img class ="logo_image" src= "{{ url_for('static',filename='img/default-monochrome-black.svg') }}">    
    </span>
    <span class="form">
        <form>
            <label for="fname">Email:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Password:</label><br>
            <input type="password" id="lname" name="lname" value="Doe"><br><br>
            <input type="submit" value="Login">
        </form> 
        <a href="#">Join Voyajer Book</a>
        <a href="#">Forget password?</a>
    </span>
</div>
<div class="menu_block">
    <ul class="menu">
        <li><a href="/map">My Voyajer Map</a></li>
        <li><a href="/photos">My Voyajer Photos</a></li>
        <li><a href="/reviews">Voyajer Reviews</a></li> 
    </ul>

</div>
<div class="div2">
<button class="ask_for_help">ask_for_help</button>
<button class="btn_build_map">btn_build_list</button>
</div>
<div class="div3">
    {% block base %}
    {% endblock %}
    </div>
    <div class="bottom_block">
        Div
        <spin>language</spin>

    </div>
{% endblock %}
