{% extends 'base.html' %}
{% block base %}
<h1>Create new travel</h1>
<div class="new_travel_div">
    <form method="post">
        <input type="text" name="country" placeholder="country">
        <input type="text" name="date" placeholder="date">
        <input type="text" name="city" placeholder="city">
        <input type="submit" value="Add">
    </form>
</div>
<div class="travel_list">
    <table id="dataTable">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </table>
      <br>
      <button id="refreshButton">Refresh Data</button>
    
</div>


{% endblock %}