<div class="add_review">
    <h1>Submit a Travel Review</h1>
    <form method="post" enctype="multipart/form-data">
      <span><label for="country">Country:</label>
      <input type="text" id="country" name="country" required></span>
      <span><label for="photo">Photo(not required):</label>
      <input type="file" id="photo" name="photo"></span>
      <label for="review">Review:</label>
      <span>
      <textarea class="big_text" id="review" name="review" rows="5" required></textarea></span>
      <span><input class="blue_btn" type="submit" value="Submit"></span>
    </form>
  </div>