{% extends '_base.html' %}
{% block base %}
<h1>Travel Reviews</h1>
  {% if reviews %}
  <div class = "reviews_filter">
    <form method="GET"  action="{{ url_for('reviews') }}">
    <div>  
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" onchange="this.form.submit()" >
          <option value="">Select sort option</option>
          <option value="date_asc" {% if request.args.get('sort_by') == 'date_asc' %}selected{% endif %}>Date (oldest first)</option>
          <option value="date_desc" {% if request.args.get('sort_by') == 'date_desc' %}selected{% endif %}>Date (newest first)</option>
          <option value="name_asc" {% if request.args.get('sort_by') == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
          <option value="name_desc" {% if request.args.get('sort_by') == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
        </select>
      </div>
      <div>
        <label for="country_filter">Filter by country:</label>
        <input type="text" name="country_filter" id="country-filter-input"
        {% if request.args.get('country_filter') %}
          value="{{ request.args.get('country_filter') }}"
        {% endif %}
        placeholder="Enter country name">
      </div>
    </form>
  </div>

        {% for review in reviews %}
          <li class="review-list">
            <section>
            <header>
                {{ review.country }}
            </header>
            <nav>
                {% if review.photo is not none  %} 
                  <img class="image max_width" src="{{ url_for('static', filename='uploads/' + review.photo) }}" alt="{{ review.country }} photo">  
                {% else %}
                  <img class="image max_width " src="{{ url_for('static', filename='img/CoMxJBKz_4x.jpg') }}" alt="{{ review.country }} photo">
                {% endif %}
            </nav> 
            <main>
                {{ review.text }}
            </main>
            <footer>
                  Rating: {{ review.average_rating }}
                  <form action="{{ url_for('rate_review', review_id=review.id) }}" method="POST">
                    <select name="rating">
                      {% for i in range(1, 6) %}
                  <option value="{{ i }}">{{ i }} stars</option>
                {% endfor %}
                    </select>
                    <input class="blue_btn" type="submit" value="Rate">
                  </form>
                  <p class = "author_text">Author: {{ review.author }}, Date: {{ review.date.strftime('%Y-%m-%d') }}</p>
                  <form action="{{ url_for('delete_review', review_id=review.id) }}" method="POST">
                    <input type="submit" class="blue_btn" value="Delete">
                  </form>
            </footer>
            </section>
          </li>
        {% endfor %}
 
    {% else %}
      <p>No reviews yet.</p>
    {% endif %}
{% include 'new_review.html' %}  

{% endblock %}